.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading div{
    background-color: rgba(128, 128, 128, 0.308);
    height: 1px;
    width: 30vw;
    margin: 0 0.7vmax;
}

.heading p{
    margin: 3vmax;
    color: rgba(77, 77, 77, 0.87);
    font-size: 2.5vmax;
    font-weight: 100;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}