.preNav{
    background-color: rgba(29,28,28);
    display: grid;
    grid-template-columns: 5fr 2fr;
    color: white;
}

.preNav > div{
    padding: 0 4vmax;
    display: flex;
    align-items: center;
}

.preNav > div svg{
    fill: rgba(255, 253, 253, 0.658);
}
.preNav > div svg:hover{
    fill: white;
}

.preNav > div > span{
    color: rgba(255, 249, 249, 0.295);
    font-size: 0.8vmax;
    font-weight: 100;
}

.preNav > div > a{
    color: rgba(255, 253, 253, 0.658);
    font-size: 0.9vmax;
    font-weight: 300;
    text-decoration: none;
    margin: 1vmax;
}

.preNav > div > a:hover{
    color: white;

}



